.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #282c34;
  min-height: 14vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(32px + 2vmin);
  color: white;
  margin-right: -8px;
}

.main {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-content: center;
}
.formClass {
  flex: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  margin-top: 10px;
  /* border: 1px solid black; */
}
.displayClass {
  flex: 2;
  height: 100%;
  /* border: 1px solid black; */
}
.inputData {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inputPerson {
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
}
.inputDate {
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
}
.inputDestination {
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
}
.inputSource {
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
}
.label {
  font-size: 16px;
  font-weight: 600;
  flex: 1;
  text-align: left;
}
/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
.source-destination {
  text-align: center;
  font-size: l0rge;
  width: "100%";
  margin: "2em";
  border-radius: "5px";
}
.flight {
  height: 50px;
  font-size: 16px;
  background-color: rgb(193 226 239);
  text-align: left;
  padding-left: 15px;
  font-weight: 600;
}
.source {
  height: 50px;
  font-size: 20px;
  background-color: rgb(193 226 239);
  text-align: left;
  padding-left: 15px;
  color: black;
  font-weight: 500;
}

.destination {
  height: 50px;
  font-size: 20px;
  background-color: rgb(193 226 239);
  text-align: left;
  padding-left: 15px;
}
.depart {
  height: 50px;
  font-size: 20px;
  background-color: rgb(193 226 239);
  text-align: left;
  padding-left: 15px;
  color: black;
  font-weight: 500;
}
.arrive {
  height: 50px;
  font-size: 20px;
  background-color: rgb(193 226 239);
  text-align: left;
  padding-left: 15px;
  color: black;
  font-weight: 500;
}
.price {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-between;
  font-size: 40px;
  /* text-align: left; */
  padding-left: 15px;
  font-weight: bold;
  background-color: rgb(193 226 239);
}
.bookFlight {
  float: right;
  margin-right: 15px;
}
.passengers {
  font-size: 24px;
  font-weight: 600;
  /* flex: 1; */
  float: right;
}
.travelPath {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.route {
  /* padding-left: 15px; */
  font-weight: bold;
}
.date {
  float: right;
  font-weight: 600;
}
@media only screen and (max-width: 800px) {
  .main {
    flex-direction: column;
  }
}
